In [1]:
from sshtunnel import SSHTunnelForwarder
import pymysql
import pandas as pd

In [3]:
with SSHTunnelForwarder(('52.58.72.222',22), 
                         ssh_username="ec2-user",
                         ssh_pkey='/home/oleh/.ssh/id_rsa',
                         remote_bind_address=('solring-pcs-datawarehouse-2020-11-20.cluster-cakfueupwjvh.eu-central-1.rds.amazonaws.com',3306)
                        ) as tunnel:
    print("****SSH Tunnel Established****")
    
    db = pymysql.connect(
        host='127.0.0.1', user="root",
        password="68sP39Qn", port=tunnel.local_bind_port
    )
    # Run sample query in the database to validate connection
    try:
        df = pd.read_sql('SELECT fare_family, seat_service, count(seat_service)\
                              FROM pcs_data_warehouse.pcs_fact_flight_segments t\
                              group by  seat_service, fare_family', db)
    finally:
        db.close()
print(df.shape)
 
print("YAYY!!")

****SSH Tunnel Established****

AttributeError: 'NoneType' object has no attribute 'local_bind_port'

In [30]:
df.head()

  fare_family seat_service  count(seat_service)
0        None        empty              7325383
1          00        empty                    1
2          1S        empty                    4
3          2S        empty                    6
4          EE        empty               211715

In [6]:
!pip freeze > /home/oleh/Solring/requirements36.txt

In [31]:
df['seat_service'].unique()

array(['empty', 'included', 'purchased', 'unknown'], dtype=object)

In [36]:
fare_family = df[df['seat_service']=='purchased'].groupby(by='fare_family')['count(seat_service)'].sum()#/
# float(df[df['seat_service']=='purchased']['count(seat_service)'].sum()))
fare_family = fare_family/float(fare_family.sum())

In [38]:
#Check
fare_family

fare_family
27    0.000003
BB    0.021619
BE    0.000003
BS    0.051635
CE    0.000008
CI    0.000186
CS    0.012125
DD    0.000011
DO    0.000013
EE    0.090553
FF    0.003321
FU    0.000005
KB    0.000013
KZ    0.000008
LL    0.319042
NT    0.000016
OW    0.000003
PO    0.000013
PP    0.160271
PT    0.000005
RE    0.000013
RK    0.000008
RO    0.000144
SF    0.000008
SS    0.340504
SU    0.000391
TA    0.000016
TN    0.000005
TP    0.000003
WA    0.000003
YU    0.000051
Name: count(seat_service), dtype: float64

In [10]:
with SSHTunnelForwarder(('52.58.72.222',22), 
                         ssh_username="ec2-user",
                         ssh_pkey='/home/oleh/.ssh/id_rsa',
                        
                         remote_bind_address=('uia-checkin-prod-2020-11-20.cakfueupwjvh.eu-central-1.rds.amazonaws.com',3306)
                        ) as tunnel:
    print("****SSH Tunnel Established****")
    
    db = pymysql.connect(
        host='127.0.0.1', user="root",
        password="68sP39Qn", port=tunnel.local_bind_port
    )
    # Run sample query in the database to validate connection
    try:
        df = pd.read_sql('SELECT * FROM archive.xd2vf_anc_sales_Oct2019', db)
    finally:
        db.close()
print(df.shape)
 
print("YAYY!!")

****SSH Tunnel Established****
(16792, 28)
YAYY!!

In [39]:
tabs = []

with SSHTunnelForwarder(('52.58.72.222',22), 
                         ssh_username="ec2-user",
                         ssh_pkey='/home/oleh/.ssh/id_rsa',
                        
                         remote_bind_address=('uia-checkin-prod-2020-11-20.cakfueupwjvh.eu-central-1.rds.amazonaws.com',3306)
                        ) as tunnel:
    print("****SSH Tunnel Established****")
    
    db = pymysql.connect(
        host='127.0.0.1', user="root",
        password="68sP39Qn", port=tunnel.local_bind_port
    )
    # Run sample query in the database to validate connection
    try:
        # Print all the databases
        with db.cursor() as cur:
            cur.execute('SELECT table_name FROM information_schema.tables where table_name like "%sales_%"')
            for r in cur:
                #print(r)
                if not 'dcs' in r[0]:
                    tabs.append(r[0])
    finally:
        db.close()
        
print('YAYY!!!')

****SSH Tunnel Established****
YAYY!!!

In [40]:
tabs

['xd2vf_anc_sales_Apr2019',
 'xd2vf_anc_sales_Aug2019',
 'xd2vf_anc_sales_Aug2020',
 'xd2vf_anc_sales_Dec2019',
 'xd2vf_anc_sales_Feb2019',
 'xd2vf_anc_sales_Feb2020',
 'xd2vf_anc_sales_Jan2019',
 'xd2vf_anc_sales_Jan2020',
 'xd2vf_anc_sales_Jul2019',
 'xd2vf_anc_sales_Jul2020',
 'xd2vf_anc_sales_Jun2019',
 'xd2vf_anc_sales_Jun2020',
 'xd2vf_anc_sales_Mar2019',
 'xd2vf_anc_sales_Mar2020',
 'xd2vf_anc_sales_May2019',
 'xd2vf_anc_sales_Nov2019',
 'xd2vf_anc_sales_Nov2020',
 'xd2vf_anc_sales_Oct2019',
 'xd2vf_anc_sales_Oct2020',
 'xd2vf_anc_sales_Sep2019',
 'xd2vf_anc_sales_Sep2020']

In [42]:
df = None
with SSHTunnelForwarder(('52.58.72.222',22), 
                         ssh_username="ec2-user",
                         ssh_pkey='/home/oleh/.ssh/id_rsa',
                        
                         remote_bind_address=('uia-checkin-prod-2020-11-20.cakfueupwjvh.eu-central-1.rds.amazonaws.com',3306)
                        ) as tunnel:
    print("****SSH Tunnel Established****")
    
    db = pymysql.connect(
        host='127.0.0.1', user="root",
        password="68sP39Qn", port=tunnel.local_bind_port
    )
    # Run sample query in the database to validate connection
    try:
        for sql_tab in tabs:
            if df is None:
                df = pd.read_sql('SELECT * FROM archive.'+ sql_tab, db)
            else:
                _df = pd.read_sql('SELECT * FROM archive.'+ sql_tab, db)
                df = df.append(_df)
            
    finally:
        db.close()
print(df.shape)
 
print("YAYY!!")

****SSH Tunnel Established****
(225222, 28)
YAYY!!

In [43]:
df.to_csv('Checking.csv')